<body>
  <div id="aboutDiv" class=".container">

    <blockquote class="blockquote text-center">
      <h2>About Us</h2>
      <i class="fa fa-code"></i>
      <p>
        <strong>Crash-Sighter</strong> es una aplicacion realizada para la asignatura de
        <strong>Interfaces de Usuario</strong> para la UEM</p>
      <p>
        <strong>Objetivo:</strong> recojer datos sobre el estado de las carreteras de madrid y las localizarlos en un mapa</p>
      <p>Esta aplicacion ha sido realizada empleando Bootstrap + Angular + html5</p>


        <!-- <i class="fab fa-angular"> + </i> -->
        
        <span><svg-icon src="/assets/img/boostrapSolid.svg" [svgStyle]="{ 'width.px':100,'height.px':100}"></svg-icon></span>

       <span><svg-icon src="/assets/img/html5-logo.svg" [svgStyle]="{'width.px':100,'height.px':100}"></svg-icon></span>

       <span> <svg-icon src="/assets/img/angular-solid.svg" [svgStyle]="{ 'width.px':100,'height.px':100}"></svg-icon></span>
     
   
     

    </blockquote>

  </div>

  <blockquote class="blockquote text-center">
    <p class="mb-0">"Beware of programmers who carry screwdrivers."</p>
    <footer class="blockquote-footer">Leonard Brandwein
      <cite title="Source Title">The Programers Nightmare</cite>
    </footer>
  </blockquote>
</body>