
        <div *ngIf="ocultar">
            <h3>Welcome to the Crash Sighter!  <svg-icon src="/assets/img/car-crash.svg" class="icoCoche" [svgStyle]="{'width.px':160,'height.px':140, 'margin.px':20}"></svg-icon></h3>
           
            <h2 class="display-4">new crashes everyday!</h2>
            <p class="lead">
                <em>Crash Sighter es una aplicacion sencilla que permite visualizar accidentes en madrid en tiempo real</em>
            </p>
            <p class="lead">
                <button class="btn btn-primary btn-lg" (click)="onClickMe()">Entendido!</button>
            </p>
        </div>

